<%= form_with(model: @dynamic, url: web_test_welcome_create_dynamic_path, class: 'formulary') do |form| %>
  <p><%= form.text_field :name, placeholder: 'Nome'%></p>
  <p><%= form.text_area  :description, placeholder: 'Descrição'%></p>

  <table class='table-body'>
    <tr role="row">
      <th>
        Comentario
      </th>
      <th>
        Nota
      </th>
    </tr>

    <% if @review.present? %>
      <% @reviews.each do |review|%>
        <tr>
          <td><%= review.comment %></td>
          <td><%= review.note %></td>
        </tr>
      <%end%>
    <%else%>
      <tr>
        <td><%= "Não existe reviews" %></td>
      </tr>
    <%end%>
  </table>

  <p><%= form.number_field :review, step: 1, min: 1, max: 5, placeholder: 'review'%></p>
  <p><%= form.text_area :comment, placeholder: 'Comentario'%></p>
  <p><%= form.submit "Enviar", class: 'formulary-button' %></p>
<% end %>
